<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>George's Burger Shack!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>

</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <div id="title" class="col s12 m12 l9">
                    <h1>George's Burger Shack</h1>
                </div>
                <div id="burger-pic" class="col s12 m12 l3">
                    <img src="/assets/img/burger.png" id="burger-img">
                </div>
            </div>
    </header>
    <div class="container" id="main-container">
        <h3>Welcome!</h3>
        <p>To place an order, enter anything you want in the <span class="emphasis">"Order"</span> box below. Your order
            will appear in the <span class="emphasis">"Now Serving"</span> box. You can either <span
                class="emphasis">eat it</span>, or <span class="emphasis">send it back</span>.</p>
        <p>Once you have eaten it, it will appear in the <span class="emphasis">"Finished"</span> box, and from there
            you can either <span class="emphasis">remake it</span> if you didn't like it, or <span
                class="emphasis">order another</span>!</p>
        <p>This menu uses images populated by GIPHY API.</p>
        <p>As a courtesy, please <span class="emphasis">bus your table</span> when you are finished! Thanks for stopping
            by!</p>

        <h3>Order:</h3>
        <form class="create-form">

            <input type="text" id="burg" name="name" placeholder="What would you like to order?">



            <button id="submit-burger-button" type="submit">Place Order</button>
        </form>
        {{{ body }}}

    </div>

    <footer>
        <div id="contact-links-container-footer">
            <ul id="contact-links-footer">
                <li>
                    <a href="https://agtravis.github.io/" class="link" target="_blank">My Portfolio</a>
                </li>
                <li class="seperator">|</li>
                <li>
                    <a href="https://github.com/agtravis/burger" class="link" target="_blank">GitHub Repo</a>
                </li>
            </ul>
        </div>
        <p>Copyright Alexander George Travis 2019 ©</p>
    </footer>
</body>

<script>
    'use strict';
    const giphyURL = `https://api.giphy.com/v1/gifs/search?api_key=krsGO7xfBLF7bCmtRs7tpOLC0UjdzxcH&q=`;
    const burgers = document.getElementsByClassName('burger-li');
    //console.log(burgers);
    for (const burger of burgers) {
        const random = Math.floor(Math.random() * 20);
        const word = burger.dataset.word;
        const div = burger.childNodes[3];
        $.ajax(giphyURL + word, {
            type: 'GET'
        }).then(function (response) {
            const src = response.data[random].images.fixed_width_small.url;
            const topBun = document.createElement('img');
            topBun.setAttribute('src', 'assets/img/top-bun.png');
            div.appendChild(topBun);
            const newImg = document.createElement('img');
            newImg.setAttribute('src', src);
            div.appendChild(newImg);
            const bottomBun = document.createElement('img');
            bottomBun.setAttribute('src', 'assets/img/bottom-bun.png');
            div.appendChild(bottomBun);
        });
    }


</script>

</html>