<h1>To Eat:</h1>
<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>


<h1>Eaten:</h1>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<button class="bus-button">Bus Your Table</button>